#top{
    color: black;
    
}
#foot
{
    margin-top: 700px;
    clear: both;
    width:100%;
    background-color:lightblue;
}

.forms
{
    background-color: burlywood;
    position: absolute;
    top: 38%;
    left: 30%;
    width: 500px;
    height: 600px;
    border-radius: 30px;
    padding: 25px;
    margin-top: 20px;
    color: white;
}

h1
{
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    border: none;
    background-color: white;
    height: 40px;
    border-radius: 30px;
    color:skyblue;
    
}

.forms label
{
    padding: 25px;
    color: white;
    font-weight: bold;
}
p
{
    
    font-weight: bold;
    color: white;
    padding-top: 15px;
}

.forms input[type="text"] , input[type="password"] , input[type="email"]
{
    padding: 0 0 0 20px;
    width: 100%;
    margin-bottom: 20px;
}
.forms input[type="text"] , input[type="password"] , input[type="email"]
{
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}

.forms input[type="submit"]
{
    font-weight: bolder;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    width: 100%;
    color:skyblue;
}

.forms input[type="submit"]:hover
{
    background-color:dodgerblue;
}
.gender
{
    margin-top: 15px;
}